/* customr css and js files included at the top level of your presentation will
 * will be included in your presentation */


@font-face {
 font-family: 'Droid Sans';
 font-style: normal;
 font-weight: normal;
 src: local('Droid Sans'), url('http://themes.googleusercontent.com/font?kit=rS9BT6-asrfjpkcV3DXf__esZW2xOQ-xsNqO47m55DA') format('truetype');
}

@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: normal;
  src: local('Droid Serif'), local('DroidSerif'), url('http://themes.googleusercontent.com/font?kit=DgAtPy6rIVa2Zx3Xh9KaNaCWcynf_cDxXwCLxiixG1c') format('truetype');
}

@font-face {
  font-family: 'Droid Sans Mono';
  font-style: normal;
  font-weight: normal;
  src: local('Droid Sans Mono'), url('http://themes.googleusercontent.com/font?kit=ns-m2xQYezAtqh7ai59hJcwD6PD0c3_abh9zHKQtbGU') format('truetype');
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: normal;
  src: local('Inconsolata'), url('http://themes.googleusercontent.com/font?kit=7bMKuoy6Nh0ft0SHnIGMuaCWcynf_cDxXwCLxiixG1c') format('truetype');
}

.title-slide h1 {
  color: blue;
}

h1, h2, h3, h4 { 
  font-family: 'Droid Sans', arial, serif; 
  font-weight: bold;
}

html, body {
  font-family: 'Droid Serif', Georgia, sans-serif;
  overflow: hidden;
}

body {
  background-color: #666;
}

#preso { 
  background-color: #CCC;
  -webkit-box-shadow: 0 0 20px #000;
  text-shadow: 1px 1px 1px #FFF;  
}

#preso, .slide {
  width: 1024px;
  height: 768px;
}

#preso .slide {
  background: #EEE;
  border: none;
}

#footer {
  background-color: transparent;
  position: fixed;
  bottom: 0;
  right: 0;
  width: auto;
  margin: 2px;
  font-size: 0.8em;
  
}

.title-slide h1 {
  color: #026;
}

.bullets ul {
  font-size: 2.5em;
}

pre {
  font-size: 2em;
  margin: 0;
  padding: 1em;
  line-height: 1.4em;
  background: #333;
  text-shadow: 1px 1px 1px #000;
  color: #DDD;
}

pre.sh_sourceCode * {
  font-size: 1em !important;
  font-family: 'Monaco', 'Inconsolata', monospace !important;
}

tt, code, kbd, samp {
  font-family: 'Monaco', 'Inconsolata', monospace;
}

pre.sh_sourceCode {
  background-color: #000000;
  color: #DDD;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_keyword {
  color: #FF6;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_type {
  color: #3f3;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_string {
  color: #FF6;
  font-weight: normal;
  font-style: italic;
}

pre.sh_sourceCode .sh_regexp {
  color: #E9E;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_specialchar {
  color: #3FF;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_comment {
  color: #888;
  font-weight: normal;
  font-style: italic;
}

pre.sh_sourceCode .sh_number {
  color: #3F3;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_preproc {
  color: #6FF;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_symbol {
  color: #E9E;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_function {
  color: #3FF;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_cbracket {
  color: #F9F;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_url {
  color: #FF6;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_date {
  color: #FF3;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_time {
  color: #FF3;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_file {
  color: #FF3;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_ip {
  color: #66F;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_name {
  color: #66F;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_variable {
  color: #3FF;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_oldfile {
  color: #CCC;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_newfile {
  color: #FF3;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_difflines {
  color: #FF3;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_selector {
  color: #3FF;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_property {
  color: #FF3;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_value {
  color: #FF3;
  font-weight: normal;
  font-style: normal;
}
